.div:hover {
  animation: enlarge 0.5s;
  cursor: pointer;
  border-width: 2px;
  border-color: #E0E0E0;
  border-radius: 12px;
}

.div {
  border-width: 2px;
  border-color: transparent;
  border-radius: 12px;
  background-color: ;
}
